@charset "utf-8";
/* CSS Document */
*{
	
	margin: 0 auto
}
.container1
{
	
	width: 100px;
	height: auto;
	
}
.content
{
	
	width:1024px;
	height: 40px;
	background-color: aqua;
	
	
}
.nav
{
	
	width: 1024px;
	height: 40px;
	background-color: #000000;
}
.container
{
	width: 100%;
	height: 340px;
	background-color: #000000;
}
.Images
{
	width: 100%;
	height: 300px;
	
}
.container2
{
	width: 1024px;
	height: 2000px;
	background-color:white;
	margin-top: 50px;
	
}
.Images2
{
	
	width: 1050px;
	height: 600px;
	
	
	
}

.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new1
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
	
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new2
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new3
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new4
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new5
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new6
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new7
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new8
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new9
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new10
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new11
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new12
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new13
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new14
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new15
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new16
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new17
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new18
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new19
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
.new
{
	
	
width: 1024px;
height: 300px;
border-bottom: 1px #000000;
border-top: 1px	#000000;

	
}

.new20
{
	
	width: 512px;
	height: 300px;
	float: right;
	margin-top: 60px;
}
h1
{
	
	font-family: 'abril-fatface';
	font-size: 2em;
	color: #17202A;
	text-transform: uppercase;
}
h1:hover
{
	color: #3498DB;
}

p
{
	font-size:20px;
	color: slategray;
}



















